<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">CINESCAPE</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Peliculas</a>
        </li>
      </ul>
      <form class="d-flex">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Buscar"
          aria-label="Buscar"
        />
        <button class="btn btn-primary" type="submit">Buscar</button>
      </form>
    </div>
  </div>
</nav>

<!-- Inicio Carrousel -->
<div
  id="carouselExampleIndicators"
  class="carousel slide"
  data-bs-ride="carousel"
>
  <ol class="carousel-indicators">
    <li
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="0"
      class="active"
    ></li>
    <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
    <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="../../../assets/img/Jonhwick3 Banner.jpg"
        class="d-block w-100"
        alt="..."
      />
      <div class="carousel-caption d-none d-md-block">
        <h3>John Wick 3 : Parabellum</h3>
      </div>
    </div>
    <div class="carousel-item">
      <img
        src="../../../assets/img/Matrix3 Banner.jpeg"
        class="d-block w-100"
        alt="..."
      />
      <div class="carousel-caption d-none d-md-block">
        <h3>Matrix</h3>
      </div>
    </div>
    <div class="carousel-item">
      <img
        src="../../../assets/img/Vengadores Banner-.jpg"
        class="d-block w-100"
        alt="..."
      />
      <div class="carousel-caption d-none d-md-block">
        <h3>Vengadores Age of Ultron</h3>
      </div>
    </div>
  </div>
  <a
    class="carousel-control-prev"
    href="#carouselExampleIndicators"
    role="button"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </a>
  <a
    class="carousel-control-next"
    href="#carouselExampleIndicators"
    role="button"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </a>
</div>
<!-- Fin Carrousel -->
<!-- Section Botonera -->
<section class="botonera">
  <div class="boton">
    <i class="fas fa-plus"></i>
    <h5>Mi Lista</h5>
  </div>
  <div class="reproducir">
    <i class="fas fa-play"></i>
    <h5>Reproducir</h5>
  </div>
  <div class="boton">
    <i class="fas fa-info-circle"></i>
    <h5>Info</h5>
  </div>
</section>
<!-- Fin Section Botonera -->
<!-- Section Peliculas Scroll -->
<section class="peliculas">
  <h4>Populares en Cinespacio</h4>
  <div class="scrollmenu">
    <img src="../../../assets/img/cover/bob.png" alt="cover bob esponja" />
    <img src="../../../assets/img/cover/dragon.png" alt="cover dragon" />
    <img src="../../../assets/img/cover/john.png" alt="cover john wick" />
    <img src="../../../assets/img/cover/matrix.png" alt="cover matrix" />
    <img src="../../../assets/img/cover/PrincesaMon.png" alt="cover princesa" />
    <img src="../../../assets/img/cover/santa.png" alt="cover santa" />
  </div>
</section>
<!-- Fin Section Peliculas Scroll -->
<!-- Section Peliculas Scroll -->
<section class="peliculas">
  <h4>Anime en Cinespacio</h4>
  <div class="scrollmenu">
    <img src="../../../assets/img/cover/bob.png" alt="cover bob esponja" />
    <img src="../../../assets/img/cover/dragon.png" alt="cover dragon" />
    <img src="../../../assets/img/cover/john.png" alt="cover john wick" />
    <img src="../../../assets/img/cover/matrix.png" alt="cover matrix" />
    <img src="../../../assets/img/cover/PrincesaMon.png" alt="cover princesa" />
    <img src="../../../assets/img/cover/santa.png" alt="cover santa" />
  </div>
</section>
<!-- Fin Section Peliculas Scroll -->
<!-- Footer -->
<footer>
  <div class="footer">
    <h5>Copyright Colombiapps - 2020</h5>
  </div>
</footer>
<!-- Fin Footer -->
