<ion-header [translucent]="true">
    <ion-toolbar class="toolbar" color="dark">
        <ion-title slot="start">Watch Now</ion-title>
        <ion-button>
            Populares
            <ion-icon slot="end" name="star"></ion-icon>
        </ion-button>
    </ion-toolbar>
</ion-header>
<ion-content [scrollEvents]="true" color="dark">
    <!-- Inicio Carrousel -->
    <div
        id="carouselExampleIndicators"
        class="carousel slide"
        data-bs-ride="carousel"
    >
        <ol class="carousel-indicators">
            <li
                data-target="#carouselExampleCaptions"
                *ngFor="let item of movies;let index = index"
                [attr.data-slide-to]="index"
            ></li>
        </ol>
        <div class="carousel-inner">
            <div
                class="carousel-item"
                *ngFor="let item of movies;let index = index;let isFirst = first"
                [ngClass]="{active:isFirst}"
            >
                <img
                    [src]="item.imagen.grande"
                    class="d-block w-100"
                    [alt]="item.nombre"
                    [routerLink]="['/movie', item.codigo]"
                    routerDirection="forward"
                />
                <div class="carousel-caption d-none d-md-block">
                    <h3>{{item.nombre}}</h3>
                </div>
            </div>
        </div>
        <a
            class="carousel-control-prev"
            href="#carouselExampleIndicators"
            role="button"
            data-bs-slide="prev"
        >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </a>
        <a
            class="carousel-control-next"
            href="#carouselExampleIndicators"
            role="button"
            data-bs-slide="next"
        >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </a>
    </div>
    <!-- Fin Carrousel -->
    <ion-row class="botonera">
        <ion-col>
            <div class="iconos" (click)="presentAlertConfirm()">
                <ion-icon name="heart" size="large"></ion-icon>
                <h5>Favoritos</h5>
            </div>
        </ion-col>
        <!-- <ion-col>
            <ion-button
                expand="full"
                [routerLink]="['/movie', item.codigo]"
                routerDirection="forward"
                ><ion-icon
                    name="play"
                    size="small"
                    class="ion-align-self-center"
                ></ion-icon
                >Reproducir
            </ion-button>
        </ion-col> -->
        <!-- <ion-col>
            <div class="iconos">
                <ion-icon
                    name="information-circle-outline"
                    size="large"
                ></ion-icon>
                <h5>Info</h5>
            </div>
        </ion-col> -->
    </ion-row>
    <!-- Section Peliculas Scroll -->
    <section class="peliculas">
        <h4>Populares en Cinespacio</h4>
        <div class="scrollmenu">
            <img src="assets/img/cover/bob.png" alt="cover bob esponja" />
            <img src="assets/img/cover/dragon.png" alt="cover dragon" />
            <img src="assets/img/cover/john.png" alt="cover john wick" />
            <img src="assets/img/cover/matrix.png" alt="cover matrix" />
            <img src="assets/img/cover/PrincesaMon.png" alt="cover princesa" />
            <img src="assets/img/cover/santa.png" alt="cover santa" />
        </div>
    </section>
    <!-- Fin Section Peliculas Scroll -->
</ion-content>
